.corcabeca{
    background-color: blue;
}
.top1{
    background-color: antiquewhite;
}
.top2{
background-color: aqua;
}
.top3{
background-color: aquamarine;
}
.top4{
background-color: blueviolet;
}